# Auto detect text files and perform LF normalization
* text=auto

Assets/ExternalAssets/* linguist-vendored
BlendFiles/* linguist-vendored

*.cs linguist-language=C#

# Ignore ShaderLab-related files
*.compute linguist-detectable=false
*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
*.cginc linguist-detectable=false
*.cg linguist-detectable=false
